:root {
  --white-primary: #fff;
  --grey-primary: #e5e7eb;
  --blue-primary: #0ea5e9;
  --yellow-primary: #fde047;
}

/* Utils */

.grid__container {
  display: grid;
  grid-template: 1fr 4fr 40px / 1fr 4fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  height: 100vh;
}

/* Utils */

/* Sidebar */
.sidebar {
  grid-area: sidebar;

  background: var(--blue-primary);
  color: #fff;
  padding: 1rem;
}

.sidebar > * + * {
  margin-top: 2.5rem;
}

.sidebar__wrapper {
  display: flex;
  align-items: center;
}

.header__title {
  cursor: default;
}

.sidebar__wrapper + .sidebar__wrapper {
  margin-top: 0.5rem;
}

.sidebar__title {
  margin-left: 1rem;
}

.sidebar__title:hover {
  filter: brightness(0.9);
}

/* Sidebar */

/* Header */
.header {
  grid-area: header;
  background: var(--white-primary);

  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

/* Header */

/* Main */
.main {
  grid-area: main;
  background: var(--grey-primary);

  padding: 1.5rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'project aside';
  gap: 1rem;
}

.projects__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.main__title {
  margin-bottom: 0.5rem;
}

.main__aside {
  grid-area: aside;

  display: inline-grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'annoucement'
    'trending';
  gap: 0.5rem;
}

.main_projects {
  grid-area: project;
}

.main__announcements {
  grid-area: annoucement;
}

.main__trending {
  grid-area: trending;
}
/* Main */

/* Card */
.card {
  background-color: var(--white-primary);
  padding: 1.5rem;

  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.card__body {
  color: #94a3b8;
  font-size: 0.875rem;
}

.card__body-sm {
  font-size: 0.7rem;
}

.card__footer {
  text-align: end;
  margin-top: 2rem;
}

.card__svg {
  margin-right: 1rem;
}

.card__divider {
  margin: 0.7rem 0;
}

.card--activity {
  border-left: 6px solid var(--yellow-primary);
}

.card_avatar {
  background-color: var(--grey-primary);
  padding: 0.5rem;
  border-radius: 100%;
  margin-right: 1rem;
}

.card__trending {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__trending + .card__trending {
  margin-top: 1rem;
}
/* Card */
