:root {
  --background: #f0f2f5;
  --blue-primary: #0ea5e9;
}

/* Utils */

.grid__container {
  display: grid;
  grid-template: 1fr 4fr 40px / 1fr 4fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar footer';
  height: 100vh;
  overflow: hidden;
}

/* Utils */

/* Sidebar */
.sidebar {
  grid-area: sidebar;

  background: var(--blue-primary);
  color: #fff;
  padding: 1rem;
}

.sidebar > * + * {
  margin-top: 2.5rem;
}

.sidebar__wrapper {
  display: flex;
  align-items: center;
}

.header__title {
  cursor: default;
}

.sidebar__wrapper + .sidebar__wrapper {
  margin-top: 0.5rem;
}

.sidebar__title {
  margin-left: 1rem;
}

.sidebar__title:hover {
  filter: brightness(0.9);
}

/* Sidebar */

/* Header */
.header {
  grid-area: header;
  background: #f0f2f5;
}

/* Header */

/* Main */
.main {
  grid-area: main;
  background: #000;
}
/* Main */

/* Footer */
.footer {
  grid-area: footer;
  background: #e4e4e4;
}
/* Footer */
